@import "../../assets/scss/function.scss";
.hospital-page {
    width: 100%;
    min-height: 100vh;

    .hospital-item {
        display: flex;
        justify-content: space-between;
        padding: 12px 40px;
    }

    .btn {
        margin-top: 40px;
    }
}
