$color-brand: #78c8ec;
@import "taro-ui/dist/style/components/button.scss";
@import "taro-ui/dist/style/components/noticebar.scss";
@import "taro-ui/dist/style/components/flex.scss";
@import "taro-ui/dist/style/components/image-picker.scss";
@import "taro-ui/dist/style/components/icon.scss";
@import "taro-ui/dist/style/components/modal.scss";
@import "taro-ui/dist/style/components/message.scss";
@import "taro-ui/dist/style/components/drawer.scss";
@import "taro-ui/dist/style/components/list.scss";
@import "taro-ui/dist/style/components/checkbox.scss";
@import "taro-ui/dist/style/components/toast.scss";

page {
  color: #333;
  font-size: 28rpx;
}

.split {
  color: rgb(141, 140, 140);
  padding: 0 16px;
}

.text-grey {
  color: rgb(141, 140, 140);
}

.white-bg {
  background-color: #fff;
}

.flex-box {
  display: flex;
}

.flex-around {
  justify-content: space-around;
}

.no-data {
  height: 100%;
  text-align: center;
  background-color: #fff;
  .no-data-img {
    padding-top: 200px;
    width: 360px;
    height: 360px;
    margin: 0 auto;
  }
}
