@import "../../assets/scss/function.scss";

.index-page {
  background-color: $bg-grey;
  .common-dialog {
  }
  .identity-dialog {
    .at-modal__content {
      padding: 62rpx 24rpx 0;
      min-height: 98rpx;
      text-align: center;
      font-size: 34rpx;
    }
  }
}
